.event-card {
    background-color: #ffbe0b;
    padding: 1.5rem;
    border-radius: 24px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-chips {
    background-color: #db5a42;
    color: #fbfef9;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 0.8rem;
}

.buy-ticket-btn {
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    background-color: #00a878;
    color: #fbfef9;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.buy-ticket-btn:disabled {
    background-color: #c1eade;
    color: #bdbdbd;
    cursor: not-allowed;
}

.buy-ticket-btn:hover {
    box-shadow: 0px 0px 10px #888;
}

.buy-ticket-btn:disabled:hover {
    box-shadow: none;
}
